.bg-atas .tab-header-background {
	-fx-background-color:  #122742;	
}

.bg-atas .tab {
    -fx-background-color: #1a3a5e;
    -fx-text-fill: white;
}

.bg-atas .tab-label {
    -fx-background-color: #1a3a5e;
    -fx-text-fill: white;
}

.table-cell {
    -fx-text-fill: white;
    -fx-background-color: #07182e;
    -fx-border-color: #515e6e;
}

.column-header .label {
	-fx-text-fill: white;
	-fx-background-color:#153154;
	-fx-border-width:0;
	-fx-border-color: transparent;
	-fx-background-insets: 0;
}

.tablesss{
	-fx-border-color: white;
	-fx-background-color: #07182e;
}

.text-field {
	-fx-text-fill:black;
	-fx-prompt-text-fill:#555;
	-fx-border-color : #475469;
}

.tablesss .table-row-cell:selected .table-cell {
    -fx-background-color: #334563;
    -fx-text-fill: white;
    -fx-background-insets: 0;
}

.table-view .table-row-cell:selected .text {
    -fx-fill: white;
}

.table-view .table-row-cell:filled:hover {
    -fx-background-color: #444444;
}

.table-view .table-row-cell:selected .text {
    -fx-fill: white;
}

.table-view .table-row-cell .text{
	-fx-fill: white;
}